<h1>Kiełbasa</h1>
Zdenerwowany pomocnik Wisły po meczu z Lechią Gdańsk (0:1) wyjaśnił, jakich kibiców nie chce więcej widzieć przy ul. Reymonta.
Małecki opuścił boisko w 65. minucie. Z jednej z trybun słychać było gwizdy. - "Pikniki", którzy przychodzą na stadion tylko po to, by zjeść kiełbasę i oglądnąć mecz, powinni przenieść się na drugą stronę Błoń, bo tam jest ich miejsce! - wypalił po spotkaniu.

Pomocnik dotychczas utrzymywał dobre stosunki z najbardziej zagorzałymi fanami. Np. w kwietniu nie mógł zagrać przeciwko GKS-owi Bełchatów z powodu kartek, więc dołączył do kibiców i intonował przyśpiewki. - Kibic powinien być z drużyną na dobre i na złe, tak jak nasi fani dopingujący z trybuny za bramką. Oni są z nami nawet wtedy, gdy przegrywamy. Chciałbym, by "pikniki" w ogóle nie przychodziły na stadion Wisły. Irytują mnie, bo gdy wszystko jest dobrze, to klepią nas po plecach, a gdy tylko coś się nie uda, to gwiżdżą. Nie pomagają nam, a tylko przeszkadzają. Naprawdę wolałbym grać tylko dla pięciu tysięcy fanatyków - mówił zdenerwowany Małecki.</p>

